<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename="styles.css")}}">
    <title>Churn Prediction</title>
  </head>
<body>
    <h1>Churn Prediction Form</h1>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div>
            {{ form.gender.label }}<br>
            {{ form.gender }}
        </div>
        <div>
            {{ form.SeniorCitizen.label }}<br>
            {{ form.SeniorCitizen }}
        </div>
        <div>
            {{ form.Partner.label }}<br>
            {{ form.Partner }}
        </div>
        <div>
            {{ form.Dependents.label }}<br>
            {{ form.Dependents }}
        </div>
        <div>
            {{ form.tenure.label }}<br>
            {{ form.tenure }}
        </div>
        <div>
            {{ form.PhoneService.label }}<br>
            {{ form.PhoneService }}
        </div>
        <div>
            {{ form.MultipleLines.label }}<br>
            {{ form.MultipleLines }}
        </div>
        <div>
            {{ form.InternetService.label }}<br>
            {{ form.InternetService }}
        </div>
        <div>
            {{ form.OnlineSecurity.label }}<br>
            {{ form.OnlineSecurity }}
        </div>
        <div>
            {{ form.OnlineBackup.label }}<br>
            {{ form.OnlineBackup }}
        </div>
        <div>
            {{ form.TechSupport.label }}<br>
            {{ form.TechSupport }}
        </div>
        <div>
            {{ form.Contract.label }}<br>
            {{ form.Contract }}
        </div>
        <div>
            {{ form.PaperlessBilling.label }}<br>
            {{ form.PaperlessBilling }}
        </div>
        <div>
            {{ form.PaymentMethod.label }}<br>
            {{ form.PaymentMethod }}
        </div>
        <div>
            {{ form.MonthlyCharges.label }}<br>
            {{ form.MonthlyCharges }}
        </div>
        <div>
            {{ form.TotalCharges.label }}<br>
            {{ form.TotalCharges }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>

    {% if prediction is not none %}
    <h2>Prediction: {{ "Churn" if prediction == 1 else "No Churn" }}</h2>
    {% endif %}
</body>
</html>
